body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
  height: 40px;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.ProjectCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.EditProjectPage,
.AddProject,
.AddTask,
.SignupPage,
.LoginPage,
.AddInvestments
{
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.AddExpense,
.AddIncome {
  box-shadow: 0px 1px 2px grey;
  width: 400px;
  text-align: right;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0px;
}

nav {
  background: #000000;
  box-shadow: 0px 1px 2px grey;
  width: 100%;
  margin-bottom: 30px;
  padding: 25px;
}

nav li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.css-iajp3t-MuiButtonGroup-root .MuiButtonGroup-grouped {
  color: white;
  min-width: 40px;
}



.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.css-1ex1afd-MuiTableCell-root {
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}

button, select {
  display: flex;
  color: white;
}

.butNav button {
  display: flex;
  justify-content: space-evenly;
  margin: 0 10px;
}

.cardExpen{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-card-body {
  height: 200px;
  padding: 24px;
}

.sum{
  font-size: larger;
}

.Navbar {
  display: flex;
  background: #000000;
  box-shadow: 0px 1px 2px grey;
  width: 100%;
  margin-bottom: 30px;
  padding: 25px;
}

